@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Light.woff2") format("woff2"), url("../fonts/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Thin.woff2") format("woff2"), url("../fonts/Montserrat-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: Revaux;
  font-display: swap;
  src: url("../fonts/Revaux.woff2") format("woff2"), url("../fonts/Revaux.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

.wrapper {
  padding: 0 60px;
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  padding-top: 60px;
}

.header__logo {
  font-family: "Revaux";
  text-transform: uppercase;
  font-size: 120px;
  line-height: 135px;
  font-weight: 200;
  max-width: 550px;
  margin: 0;
  color: #6c868b;
}

.wrapper--header {
  padding-right: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.header__nav {
  min-width: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__item-link {
  font-family: "Montserrat";
  text-transform: uppercase;
  font-size: 25px;
  line-height: 30px;
  font-weight: 300;
  color: #6c868b;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.nav__item-link:hover {
  color: black;
}

.nav__item-link:active {
  opacity: 0.6;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

button {
  outline: none;
  border: none;
  font-weight: 300;
  pointer-events: true;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.heading {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

input {
  margin: 0;
  padding: 0;
  border: none;
}

.fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.promo {
  margin-top: 55px;
}

.promo__inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.no-webp .promo__inner::after {
  background-image: url("../img/figure.png"); }

.promo__inner::after {
  position: absolute;
  content: "";
  width: 415px;
  height: 592px;
  left: 35%;
  top: -125%;
  background-repeat: no-repeat;
  background-size: cover;
}

.promo__inner::before {
  position: absolute;
  content: "";
  width: 400px;
  height: 400px;
  left: 35%;
  top: -140%;
  border: 2px solid #f1ccc8;
  border-radius: 50%;
  z-index: 1;
}

.no-webp .soso {
  background-image: url("@img/figure.png"); }

.soso {
  width: 420px;
  height: 780px;
  background-repeat: no-repeat;
}

.promo__inner-block {
  min-width: 360px;
  min-height: 260px;
}

.promo__inner-block--1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.promo__inner-block--2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.stick {
  position: relative;
  width: 1px;
  height: 100%;
  background-color: #c4c4c4;
}

.stick::before {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  top: 50%;
  left: -5px;
  background-color: #c4c4c4;
  border-radius: 50%;
  -webkit-box-shadow: 0 50px 0 #c4c4c4, 0 -50px 0 #c4c4c4;
          box-shadow: 0 50px 0 #c4c4c4, 0 -50px 0 #c4c4c4;
}

.stick::after {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  top: 123px;
  left: -14px;
  background-color: #c4c4c4;
  opacity: 0.4;
  border-radius: 50%;
}

.nner-block__list {
  max-width: 72px;
}

.inner-block__item {
  color: #e2b4af;
  font-weight: 600;
  font-size: 43px;
  line-height: 53px;
}

.inner-block__title {
  max-width: 340px;
  font-size: 36px;
  line-height: 45px;
  margin: 0;
}

.inner-block__button {
  text-transform: uppercase;
  font-family: "Revaux";
  font-size: 36px;
  line-height: 40px;
  font-weight: 200;
  color: #6c868b;
  background-color: transparent;
  padding: 25px 65px;
  border: 1px solid #e2b4af;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.inner-block__button:hover {
  background-color: #DCDCDC;
  color: black;
}

.inner-block__button:active {
  opacity: 0.6;
}

.page-body {
  font-family: "Montserrat";
  color: #6c868b;
}

.exhibition {
  margin-top: 120px;
  margin-bottom: 130px;
}

.exhibition__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px solid #e2b4af;
  margin-bottom: 65px;
}

.exhibition__block--2 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.exhibition__block-desc {
  font-size: 30px;
  line-height: 37px;
  max-width: 635px;
}

.exhibition__block-desc-text {
  margin: 0;
}

.exhibition__block-desc-title {
  font-family: "Revaux";
  font-size: 48px;
  line-height: 53px;
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-top: 0;
  cursor: pointer;
}

.exhibition__block-desc-date {
  font-weight: 200;
  margin-top: 30px;
  margin-bottom: 0;
}

.exhibition__block-img {
  position: relative;
  width: 530px;
  height: 250px;
  background-color: #f0f0f0;
  border: 2px solid #e2b4af;
  border-bottom: none;
  cursor: pointer;
}

.no-webp .exhibition__block-img::before {
  background-image: url("../img/exhibition-1.png"); }

.exhibition__block-img::before {
  position: absolute;
  content: "";
  width: 400px;
  height: 208px;
  left: 70px;
  top: 15px;
  background-repeat: no-repeat;
}

.no-webp .exhibition__block-img--2::before {
  background-image: url("../img/exhibition-2.png"); }

.exhibition__block-img--2::before {
  height: 251px;
  top: -32px;
}

.gallery {
  margin-bottom: 130px;
}

.gallery__title {
  font-family: "Revaux";
  font-size: 120px;
  font-weight: 200;
  text-transform: uppercase;
  margin: 0;
}

.gallery__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.gallery__list-item {
  position: relative;
  width: 300px;
  height: 390px;
  border: 1px solid #e2b4af;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.gallery__list-item:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.no-webp .gallery__list-item::before {
  background-image: url("../img/gallery-1.png"); }

.gallery__list-item::before {
  position: absolute;
  content: "";
  width: 205px;
  height: 205px;
  top: 25%;
  left: 15%;
  background-repeat: no-repeat;
}

.gallery__list-item:nth-child(2) {
  width: 420px;
  height: 490px;
  border: 2px solid #e2b4af;
}

.no-webp .gallery__list-item:nth-child(2)::before {
  background-image: url("../img/gallery-2.png"); }

.gallery__list-item:nth-child(2)::before {
  width: 482px;
  height: 440px;
  top: 5%;
  left: -8%;
}

.no-webp .gallery__list-item:nth-child(3)::before {
  background-image: url("../img/gallery-3.png"); }

.gallery__list-item:nth-child(3)::before {
  width: 271px;
  height: 271px;
  top: 15%;
  left: 5%;
}

.webp .promo__inner::after { background-image: url(../img/figure.webp); }

.webp .soso { background-image: url(@img/figure.webp); }

.webp .exhibition__block-img::before { background-image: url(../img/exhibition-1.webp); }

.webp .exhibition__block-img--2::before { background-image: url(../img/exhibition-2.webp); }

.webp .gallery__list-item::before { background-image: url(../img/gallery-1.webp); }

.webp .gallery__list-item:nth-child(2)::before { background-image: url(../img/gallery-2.webp); }

.webp .gallery__list-item:nth-child(3)::before { background-image: url(../img/gallery-3.webp); }